:root {
  --vp-font-family-base:
    "Geist Mono", "Maple Mono", "Fira Code", "Cascadia Code", "Menlo",
    "DejaVu Sans Mono", "Sarasa Gothic SC", "PingFang SC", "Microsoft YaHei",
    monospace !important;
  --vp-font-family-mono:
    "Geist Mono", "Maple Mono", "Fira Code", "Cascadia Code", "Menlo",
    "DejaVu Sans Mono", "Sarasa Gothic SC", "PingFang SC", "Microsoft YaHei",
    monospace !important;
  --vp-c-brand-1: hsl(228, 50%, 50%);
  --vp-c-brand-2: hsla(228, 50%, 50%, 0.5);
  --vp-c-brand-3: hsl(228, 50%, 50%);

  .VPImage {
    border-radius: 1rem;
  }
}
